In [1]:
import pandas as pd

In [2]:
print pd.__version__

0.24.2

In [3]:
data = pd.read_csv("trips.csv")
print data.shape
data.head(10)

(209, 5)

   1  1.1  40  26   2.2
0  1    2   4  49   8.1
1  1    3   3  35   6.8
2  1    4   2  75   9.3
3  1    5   2  30   8.0
4  1    6   4  52   9.9
5  1    7   6  48  13.0
6  1    8   3  48  12.3
7  1   11   1  30  16.9
8  1   13   2  50  21.9
9  2    1  29  53   8.3

*TODO* применить алгоритм!